@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: white;
    font-size: 80px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    color: white;
    opacity: 0.8;
    font-size: 20px;
    position: absolute;
    top: 10%;
    list-style-type: none;
    
}

nav:hover {
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

input {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    color: white;
    font-size: 80px;
    border: none;
    background-color: transparent;
    text-align: center;
}

input::placeholder {
    color: white;
    opacity: 0.7; 
  }

input:focus{
    outline: none;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../public/Nebula.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    
}